.menu
{
  background-color: #ffffff;
  text-align: left;
  font-size: 18px;
  font-family: "Calibri";
  height: 1.5rem;

}

.link-menu
{
  padding-right: 1rem;
  margin: 0.25rem;
  
}

.link-menu-right
{
  padding-right: 1rem;
  float: right;
}
