
.cart-confirm-button
{
  width: 20%;
  border: 1px solid #000000;    
  margin-top: 2rem;
  margin-right: 10%;
  float: right;
  font-size: 18px;
  font-family: "Calibri";

  
}

.cart-price
{
  margin-top: 2rem;
  margin-right: 5%;
  float: right;
 
}

